.App {
  background-color: white;
  font-size: 24px;
}

#title {
  /* border: 1px solid black; */
  text-align: center;
  font-size: 9vw;
  position: relative;
  width: 100%;
  margin-top: 10vh;
}

#title:hover {
  color: #05e005;
  cursor: pointer;
}

span.emoji {
  font-size: inherit;
}

#shiftForm {
  text-align: center;
  display:grid;
}

label {
  margin: 10px;
}

input {
  font-size: 20px;
  margin: 0 4px 0 4px;
  width: 100px;
  border-radius: 3px;
}

button {
  font-size: 20px;
  width: 80px;
  margin: 0 auto 0 auto;
  border-radius: 3px;

}

button.addbtn {
  margin-top: 10px;
}

nav {
  /* border: 1px solid black; */
  width: fit-content;
  position: fixed;
  top:24vh;
  left: 1vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

li {
  margin: 30px 20px 30px 20px;
}

li:hover {
  color: #05e005;
  cursor: pointer;
}

.spreadsheetAdd {
  /* border: 1px solid black; */
  position: relative;
  margin: 40px auto 40px auto;
  text-align: center;
  widtH: 200px;
}

details > summary {
  list-style: none;
}

summary {
  margin: 20px;
  border: 1px black solid;
  padding: 10px 20px 10px 20px;
}

input.fileInput {
  width:fit-content;
}

label {
  widtH: 230px;
  text-align: left;
  margin: 0 auto 0 auto;
}
