.App {
  background-color: white;
  font-size: 24px;
}

#title {
  /* border: 1px solid black; */
  text-align: center;
  font-size: 9vw;
  position: relative;
  width: 100%;
  margin-top: 10vh;
}

#title:hover {
  color: #05e005;
  cursor: pointer;
}

#inputContainer {
  /* border: 1px solid black; */
  /* border-radius: 8px; */
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
}

span.emoji {
  font-size: inherit;
}

#shiftForm {
  text-align: center;
  display:grid;
}

label {
  margin: 10px;
}

input {
  font-size: 20px;
  margin: 0 4px 0 4px;
  width: 100px;
  border-radius: 3px;
}

button {
  font-size: 20px;
  width: 80px;
  margin: 0 auto 0 auto;
  border-radius: 3px;

}

.addbtn {
  margin: 8px auto 8px auto;
}

nav {
  /* border: 1px solid black; */
  width: fit-content;
  position: fixed;
  top:24vh;
  left: 1vw;
  font-weight: 500;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

li {
  margin: 30px 20px 30px 20px;
}

li:hover {
  color: #05e005;
  cursor: pointer;
}

.spreadsheetAdd {
  /* border: 1px solid black; */
  position: relative;
  margin: 40px auto 40px auto;
  text-align: center;
  widtH: 200px;
}

details[open] summary ~ * {
  animation: sweep .25s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; transform: translateY(-10px)}
  100%  {opacity: 1; transform: translateY(0)}
}

details > summary {
  list-style: none;
}

summary {
  margin: 20px;
  border: 1px black solid;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  width:fit-content;
  margin: 0 auto 0 auto;
}

summary:hover {
  cursor: pointer;
}

label {
  widtH: 230px;
  text-align: left;
  margin: 5px auto 5px auto;
}

.inputSection {
  /* border: 1px solid black; */
  margin: 20px 0 46px 0;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.fileInput {
  width: 500px;
}